#body{height: 100%;background: #f5f5f5;overflow: auto;position: relative;}
.page_body{
  padding: 100px 180px 20px 180px;width: 100%;height: 100%;position: absolute;top: 0;left: 0;
  .page_body_box{
    position: relative;height: 100%;overflow: auto;
    &::-webkit-scrollbar {width: 0;height: auto;}
  }
  .part_1, .part_3{float: left;width: 63%;box-shadow: 0 0 1px #ddd;margin-right: 20px;margin-bottom: 20px;}
  .part_1{
    padding: 12px;background: #fff;
    .apps{
      height: 100%;padding: 0;
      .app{
        background: #eee;box-shadow: 0 0 1px #fff;color: #999;font-size: 20px;height: 120px;text-align: left;transition:all 0.5s; -webkit-transition:all 0.5s;text-decoration: none;overflow: hidden;position: relative;display: table;
        .icon{
          position: absolute;width: 80px;height: 80px;background: #fff;border-radius: 50%;overflow: hidden;vertical-align: middle;margin-right: 15px;top: 50%;transform: translateY(-50%);
          img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
          img.icon_on{z-index: -1;}
        }
        .text{display: table-cell;vertical-align: middle;padding-left: 90px;}
      }
      .app.small_font{font-size: 18px;}
      .app:hover{
        color: #fff;background: #4E81BD;
        img.icon_on{z-index: 1;}
      }
    }
  }
  .part_2{
    overflow: hidden;background: #fff;box-shadow: 0 0 1px #ddd;min-height: 900px;padding: 0 20px;
    .calendar{
      .title{font-size: 40px;color: #4A90E2;text-align: center;height: 85px;line-height: 85px;border-bottom: 1px solid #f5f5f5;cursor: pointer;}
      .title:hover{text-decoration: underline;}
      .homePageLink{
        i{display: inline-block;width: 20px;height: 20px;background: url('../images/icon_homepagelink.png') 0 0 / 100% 100% no-repeat;vertical-align: middle;margin-right: 10px;}
        right: 25px;font-size: 16px;color: #333;display: block;text-align: right;padding: 10px 20px;
      }
      .week_cal{
        padding: 0 20px;color: #003;
        .drawer_title{background: rgba(74,144,226,0.1);line-height: 40px;font-size: 18px;padding-left: 16px;border-bottom: 1px solid #fff;border-left: 4px solid #4A90E2;}
        .drawer_list{
          padding: 0 10px;font-size: 16px;color: #003;height: 0;overflow: hidden;
          & > div{padding: 5px 0;}
          & > .empty{padding: 10px;font-size: 18px;color: #333;}
          .li_1{float: right;line-height: 44px;}
          .point_icon{display: inline-block;width: 14px;height: 14px;border-radius: 50%;}
          .drawer_li{line-height: 22px;padding: 7px 10px;height: 58px;}
          .drawer_li:hover{background: #eee;}
          .drawer_li div{
            text-align: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #666;font-size: 14px;
            .info{display: inline-block;width: 50%;color: #333;font-size: 16px;}
          }
        }
        .drawer_title.act + .drawer_list{height: auto;}
      }
    }
  }
  .part_3{
    position: relative;
  }
}
