$color_1: #DB465F;
$color_2: #B59479;
$color_3: #716DC2;
$color_4: #2C66C2;
$color_5: #47AD56;
$color_6: #687280;
$color_7: #00B3CF;
$color_8: #F2A200;
$color_9: #00CFB0;
$color_10: #4A90E2;
$color_11: #5ACE6D;
*{box-sizing: border-box;}
[v-cloak]{display: none;}
.flex{display: flex;}
.color_1{color: $color_1;}
.color_2{color: $color_2;}
.color_3{color: $color_3;}
.color_4{color: $color_4;}
.color_5{color: $color_5;}
.color_6{color: $color_6;}
.color_7{color: $color_7;}
.color_8{color: $color_8;}
.color_9{color: $color_9;}
.color_10{color: $color_10;}
.color_11{color: $color_11;}
.bg_color_1{background: $color_1 !important;}
.bg_color_2{background: $color_2 !important;}
.bg_color_3{background: $color_3 !important;}
.bg_color_4{background: $color_4 !important;}
.bg_color_5{background: $color_5 !important;}
.bg_color_6{background: $color_6 !important;}
.bg_color_7{background: $color_7 !important;}
.bg_color_8{background: $color_8 !important;}
.bg_color_9{background: $color_9 !important;}
.bg_color_10{background: $color_10 !important;}
.bg_color_11{background: $color_11 !important;}

::-webkit-scrollbar {width: 5px;height: auto;}
::-webkit-scrollbar-thumb {background: #bbb;border-radius: 5px;}
::-webkit-scrollbar-track-piece {background-color: #F9F9F9;}

// @keyframes flicker {
//   from { border: 1px solid #ccc; }
//   50% { border: 1px solid #f56c6c; }
//   to { border: 1px solid #ccc; }
// }
@-webkit-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@-moz-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@-ms-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@-o-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
.noInput{
  -webkit-animation-name:flicker;-webkit-animation-duration: 500ms;-webkit-animation-iteration-count: 2;
  animation-name:flicker;animation-duration: 500ms;animation-iteration-count: 2;
}
