$color_1: #DB465F;
$color_2: #B59479;
$color_3: #716DC2;
$color_4: #2C66C2;
$color_5: #47AD56;
$color_6: #687280;
$color_7: #00B3CF;
$color_8: #F2A200;
$color_9: #00CFB0;
*{box-sizing: border-box;}
[v-cloak]{display: none;}
.flex{display: flex;}
.color_1{color: $color_1;}
.color_2{color: $color_2;}
.color_3{color: $color_3;}
.color_4{color: $color_4;}
.color_5{color: $color_5;}
.color_6{color: $color_6;}
.color_7{color: $color_7;}
.color_8{color: $color_8;}
.color_9{color: $color_9;}
.bg_color_1{background: $color_1;}
.bg_color_2{background: $color_2;}
.bg_color_3{background: $color_3;}
.bg_color_4{background: $color_4;}
.bg_color_5{background: $color_5;}
.bg_color_6{background: $color_6;}
.bg_color_7{background: $color_7;}
.bg_color_8{background: $color_8;}
.bg_color_9{background: $color_9;}