$color_1: #DB465F;
$color_2: #B59479;
$color_3: #716DC2;
$color_4: #2C66C2;
$color_5: #47AD56;
$color_6: #687280;
$color_7: #00B3CF;
$color_8: #F2A200;
$color_9: #00CFB0;
$color_10: #4A90E2;
$color_11: #5ACE6D;
*{box-sizing: border-box;}
[v-cloak]{display: none;}
.flex{display: flex;}
.color_1{color: $color_1;}
.color_2{color: $color_2;}
.color_3{color: $color_3;}
.color_4{color: $color_4;}
.color_5{color: $color_5;}
.color_6{color: $color_6;}
.color_7{color: $color_7;}
.color_8{color: $color_8;}
.color_9{color: $color_9;}
.color_10{color: $color_10;}
.color_11{color: $color_11;}
.bg_color_1{background: $color_1 !important;}
.bg_color_2{background: $color_2 !important;}
.bg_color_3{background: $color_3 !important;}
.bg_color_4{background: $color_4 !important;}
.bg_color_5{background: $color_5 !important;}
.bg_color_6{background: $color_6 !important;}
.bg_color_7{background: $color_7 !important;}
.bg_color_8{background: $color_8 !important;}
.bg_color_9{background: $color_9 !important;}
.bg_color_10{background: $color_10 !important;}
.bg_color_11{background: $color_11 !important;}

::-webkit-scrollbar {width: 5px;height: auto;}
::-webkit-scrollbar-thumb {background: #bbb;border-radius: 5px;}
::-webkit-scrollbar-track-piece {background-color: #F9F9F9;}

// @keyframes flicker {
//   from { border: 1px solid #ccc; }
//   50% { border: 1px solid #f56c6c; }
//   to { border: 1px solid #ccc; }
// }
@-webkit-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@-moz-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@-ms-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@-o-keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
@keyframes flicker { 0% { border: 1px solid #f56c6c; } 50% { border: 1px solid #ccc; } 100% { border: 1px solid #f56c6c; } }
.request_check .noInput{
  -webkit-animation-name:flicker;-webkit-animation-duration: 500ms;-webkit-animation-iteration-count: 1;
  animation-name:flicker;animation-duration: 500ms;animation-iteration-count: 1;
}
.nav_content .lab{font-size: 18px;color: #999;vertical-align: top;display: inline-block;width: 120px;text-align: right;margin-right: 10px;line-height: 34px;}
.nav_content .member_box{margin-top: 14px;}
.nav_content .member_value{
  display: inline-block;width: 350px;min-height: 293px;background: #fff;border: 1px solid #ddd;border-radius: 2px;text-align: left;overflow-y: auto;overflow-x: hidden;
  .li{
    position: relative;line-height: 42px;padding: 0 16px;color: #333;
    .icon_H{width: 30px;height: 30px;background: #F4A222;font-size: 16px;color: #fff;display: inline-block;vertical-align: middle;line-height: 30px;text-align: center;border-radius: 2px;margin-right: 10px;}
    .icon{width: 24px;height: 24px;display: inline-block;vertical-align: middle;margin-right: 16px;}
    .icon_member{left: 16px;background: url('../images/icon_member.png') 0 0 / 100% 100% no-repeat;}
    .icon_members{left: 16px;background: url('../images/icon_members.png') 0 0 / 100% 100% no-repeat;}
    .action_icon{width: 22px;height: 22px;cursor: pointer;position: absolute;top: 50%;transform: translateY(-50%);display: none;}
    .action_icon.icon_delete{right: 30px;background: url('../images/icon_delete.png') 0 0 / 100% 100% no-repeat;}
    .action_icon.icon_edit{right: 62px;background: url('../images/icon_edit.png') 0 0 / 100% 100% no-repeat;}
  }
  .li:nth-child(odd){background: #F9F9F9;}
  .li:hover{
    background: rgba(78,129,189,0.1);
    .action_icon{display: block;}
  }
}
